:root{
    --color-white: #ffffff;
    --color-white-smoke: #f2f3f7;
    --color-dark: #1d2023;
}

body {
    background-color: var(--color-white-smoke);
}

.main {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 24px;
}

table {
    border-collapse: collapse;
    border-radius: 16px;
    background-color: var(--color-white);
    overflow: hidden;
    width: 100%;
}

tr {
    border-radius: 8px;
}

tbody tr:hover {
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    background-color: #e4e7ed;
}

tr :is(th, td) {
    height: 52px;
    padding-inline: 16px;
    min-width: 160px;
    text-align: center;
}

label {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    row-gap: 4px;
}

input {
    padding: 12px 16px;
    background-color: var(--color-white);
    border: none;
    border-radius: 4px;
    margin-bottom: 12px;
}

button {
    padding: 12px 16px;
    background-color: var(--color-white);
    border: none;
    border-radius: 4px;
    transition: transform .3s;
}

button:hover {
    transform: scale(1.02);
    cursor: pointer;
}
